<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>模仿天猫官网_结算页面</title>
  <link rel="stylesheet" href="css/bootstrap/3.3.6/bootstrap.min.css">
  <link rel="stylesheet" href="css/fore/public/top.css">
  <link rel="stylesheet" href="css/fore/public/footer.css">
  <link rel="stylesheet" href="css/fore/buy.css">
</head>
<body>
<div id="workingArea">
  <nav th:replace="fore/_fragments :: top"></nav>
  <div class="buyPageDiv">
    <div class="buyFlow">
      <a href="${contextPath}">
        <img class="pull-left" src="img/site/simpleLogo.png">
      </a>
      <img class="pull-right" src="img/site/buyflow.png">
      <div style="clear: both"></div>
    </div>
    <div class="address">
      <div class="addressTip">输入收货地址</div>
      <div>
        <table class="addressTable">
          <tbody>
          <tr>
            <td class="firstColumn">详细地址<span class="redStar">*</span></td>
            <td>
              <textarea id="address" v-model.trim="order.address" placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息"></textarea>
            </td>
          </tr>
          <tr>
            <td>邮政编码</td>
            <td><input type="text" v-model.trim="order.post" placeholder="如果您不清楚邮递区号，请填写000000" /></td>
          </tr>
          <tr>
            <td>收货人姓名<span class="redStar">*</span></td>
            <td><input id="receiver" type="text" v-model.trim="order.receiver" placeholder="长度不超过25个字符" /></td>
          </tr>
          <tr>
            <td>手机号码<span class="redStar">*</span></td>
            <td><input id="mobile" type="text" v-model.trim="order.mobile" placeholder="请输入手机号码" /></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="productList">
      <div class="productListTip">确认订单信息</div>
      <table class="productListTable">
      <thead>
      <tr>
        <th class="productListTableFirstColumn" colspan="2">
          <img class="tmallbuy" src="img/site/tmallbuy.png">
          <a class="marketLink" href="#nowhere">店铺：天猫店铺</a>
          <a href="#nowhere" class="wangwanglink"><span class="wangwangGif"></span></a>
        </th>
        <th>单价</th>
        <th>数量</th>
        <th>小计</th>
        <th>配送方式</th>
      </tr>
      <tr class="rowborder">
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </thead>
      <tbody class="productListTableTbody">
      <tr class="orderItemTR" v-for="orderItem,index in orderItems">
        <td class="orderItemFirstTD">
          <img class="orderItemImg" :src="'img/productSingleImage_small/' + orderItem.product.firstProductImage.id + '.jpg'">
        </td>
        <td class="orderItemProductInfo">
          <a class="orderItemProductLink" :href="'product?pid=' + orderItem.product.id">
            {{orderItem.product.name}}
          </a>
          <img title="支持信用卡支付" src="img/site/creditcard.png">
          <img title="消费者保障服务,承诺7天退货" src="img/site/7day.png">
          <img title="消费者保障服务,承诺如实描述" src="img/site/promise.png">
        </td>
        <td>
          <span class="orderItemProductPrice">
            {{orderItem.product.promotePrice | formatMoneyFilter}}
          </span>
        </td>
        <td>
          <span class="orderItemProductNumber">{{orderItem.number}}</span>
        </td>
        <td>
          <span class="orderItemUnitSum">
            ￥{{orderItem.product.promotePrice * orderItem.number | formatMoneyFilter}}
          </span>
        </td>
        <td class="orderItemLastTD" :rowspan="orderItems.length" v-if="index == 0">
          <label class="orderItemDeliveryLabel">
            <input type="radio" checked="checked" /> 普通配送
          </label>
          <select class="orderItemDeliverySelect">
            <option>快递 免邮费</option>
          </select>
        </td>
      </tr>
      </tbody>
      </table>
      <div class="orderItemSumDiv">
        <div class="pull-left">
          <span class="leaveMessageText">给卖家留言:</span>
          <span>
            <img class="leaveMessageImg" src="img/site/leaveMessage.png">
          </span>
          <span class="leaveMessageTextareaSpan" style="display: none;">
            <textarea class="leaveMessageTextarea" v-model.trim="order.userMessage"></textarea>
            <div>
              <span>还可以输入200个字符</span>
            </div>
          </span>
        </div>
        <span class="pull-right">
          店铺合计(含运费): {{total | formatMoneyFilter}}
        </span>
        <div style="clear: both"></div>
      </div>
      <div class="orderItemTotalSumDiv">
        <div class="pull-right">
          <span>实付款：</span>
          <span class="orderItemTotalSumSpan">
            ￥{{total | formatMoneyFilter}}
          </span>
        </div>
      </div>
      <div style="clear: both"></div>
      <div class="submitOrderDiv">
        <button class="submitOrderButton" @click="submitOrder">提交订单</button>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
  <div th:replace="fore/_fragments :: footer"></div>
</div>

<th:block th:replace="fore/_fragments :: js"></th:block>
<script src="js/fore/buy.js"></script>
</body>
</html>