<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="search" class="searchDiv">
  <a href="${contextPath}">
    <img id="logo" src="img/site/logo.gif">
  </a>
  <input id="keyword" type="text" placeholder="华为Mate40 苹果A12" />
  <button class="searchButton">搜索</button>
  <div class="searchBelow">
    <!--<span v-for="category, index in categorys" v-if="index >= 5 && index <= 8">-->
    <!--  <a href="forecategory?category.id=${c.id}">{{category.name}}</a>-->
    <!--    <span v-if="index != 8">|</span>-->
    <!--</span>-->
  </div>
</div>
<div style="clear: both;"></div>
</body>
<script>
function search() {
    $("button.searchButton").click(function () {
        if (checkEmpty("keyword")) {
            return;
        }
        var keyword = $("input#keyword").val();
        console.log("keyword: " + keyword);
        location.href = "search?keyword=" + keyword;
    });
}
</script>
</html>