<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="search" class="searchDiv">
  <a th:href="${session.contextPath}">
    <img id="logo" src="img/site/logo.gif">
  </a>
  <form action="search" method="get">
    <input id="keyword" type="text" name="keyword" placeholder="华为Mate40 苹果A12" />
    <button class="searchButton">搜索</button>
  </form>
  <div class="searchBelow">
    <span th:each="category,status : ${session.categories_below_search}" th:if="${status.index >= 4 && status.index <= 7}">
      <a th:href="@{'category?cid=' + ${category.id}}" th:text="${category.name}"></a>
        <span th:if="${status.index != 7}">|</span>
    </span>
  </div>
</div>
<div style="clear: both;"></div>
</body>
</html>