<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="simpleSearch">
  <a th:href="${session.contextPath}">
    <img id="simpleLogo" src="img/site/simpleLogo.png">
  </a>
  <div class="simpleSearchDiv pull-right">
    <form action="search" method="get">
      <input type="text" placeholder="平衡车 原汁机" name="keyword" />
      <button class="searchButton" type="submit">搜天猫</button>
    </form>
    <div class="simpleSearchBelow">
      <span th:each="category,status : ${session.categories_below_search}" th:if="${status.index >= 7 && status.index <= 10}">
        <a th:href="@{'category?cid=' + ${category.id}}" th:text="${category.name}"></a>
          <span th:if="${status.index != 10}">|</span>
      </span>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
</body>
</html>